API_PORT=1234
MAILER_PORT=1234
MAILER_HOST=host
MAILER_USER=user
MAILER_PASS=password
MAILER_FROM=mail@domain.com
MONGO_DB=readme-dbname
MONGO_HOST=host
MONGO_PORT=12345
MONGO_USER=user
MONGO_PASS=qwer1234
MONGO_AUTH_BASE=user
RMQ_HOST=host
RMQ_USER=user
RMQ_PASS=passw0rd
RMQ_QUEUE=queue_name
