API_PORT=1234
MONGO_DB=readme-dbname
MONGO_HOST=localhost
MONGO_PORT=12345
MONGO_USER=user
MONGO_PASS=qwer1234
MONGO_AUTH_BASE=user
AVATAR_DIR=${UPLOAD_DIR}/dir
JWT_SECRET=jWtSecReTkeY
TOKEN=toKeN12345
RMQ_HOST=host
RMQ_USER=user
RMQ_PASS=passw0rd
RMQ_QUEUE=queue_name
